.block-container {
    width: 60%; 
}

.st-emotion-cache-p5msec {
    background-color: rgba(0,100,60,.84);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.st-emotion-cache-1om1ktf {
    margin-top: 16px;
}